base_config: base.yaml

paths:
  bronze_maude: data/bronze/maude.parquet
  bronze_udi: data/bronze/udi.parquet
  silver_maude: data/silver/maude_clean.parquet
  silver_udi: data/silver/udi_clean.parquet
  gold_output: data/gold/maude_with_udi.parquet

maude:
  drop:
    fixed:
      - patient_0_patient_sequence_number
      - device_0_manufacturer_d_zip_code
      - device_0_manufacturer_d_postal_code
    null_ratio_threshold: 0.999
  cleaning:
    null_patterns:
      - "^\\*$"
      - "^I$"
      - "^N$"
      - "^OTHER$"
      - "^NO INFORMATION$"
    normalize_whitespace: true
  categorical:
    map:
      report_source_code:
        I: Initial
        R: Reprocessed
        U: Unknown
  flags:
    reprocessed_and_reused_flag:
      values:
        I: Initial
        R: Reprocessed
        U: Unknown
    manufacturer_link_flag:
      normalize: true
  type_cast:
    date_columns:
      - date_of_event
      - date_received
    categorical_columns:
      - report_source_code
      - adverse_event_flag
      - product_problem_flag
  final_keep:
    - mdr_report_key
    - device_signature
    - manufacturer_final
    - brand_final
    - model_number_final
    - catalog_number_final
    - match_source
    - match_score
    - udi_confidence
    - udi_combined
    - date_of_event
    - date_received

udi:
  identifier_patterns:
    - "^identifiers_\\d+_id$"
  fuzzy_threshold: 90
  date_columns: ["publish_date"]
  manufacturer_field: manufacturer
  brand_field: brand
  model_field: model_number
  catalog_field: catalog_number

match:
  chunk_size: 100000
  low_quality:
    min_match_score: 1
    drop_if_missing_device_signature: true

patterns:
  udi_di_patterns:
    - "^device_\\d+_udi_di$"
    - "^primary_udi_di$"
  maude_dates:
    - "date_of_event"
    - "date_received"
    - "date_report"
    - "device_0_date_received"
